.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  background: transparent;
  text-shadow: 0px 0px 3px #27a8fdfc, 0px 0px 6px #27a8fde5,
    0px 0px 8px #27a8fda6, 0px 0px 9px #27a8fd40, 0px 0px 10px #27a8fd26;
}

.description {
  text-align: left;
}
