.pod {
  padding: 56px 16px 16px 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  text-align: left;
  position: relative;
}

.hero {
  background: #0c0011;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 0;
  border-bottom: 0.5px solid;
}

.description {
  font-size: 16px;
  padding: 8px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 0.5px solid;
  border-radius: 4px;
  padding: 4px;
  margin: 8px 0;
  text-align: center;
  min-width: 50px;
  max-width: 70px;
  flex: 1;
}

.infoItemText {
  font-size: 12px;
}
.infoItemText:first-of-type {
  text-transform: uppercase;
  font-size: 14px;
}

.button {
  color: #0c0011;
  width: 100%;
  padding: 13px 0;
  margin: 8px 0;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
