.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 16px;
}

.podsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  max-width: 250px;
  transform: scale(1.1);
}

.horizontalLine {
  background: #ffffff;
  border: 1.5px solid #ffffff;
  margin: 4px auto 0;
  height: 0;
  width: 100%;
  box-shadow:
    0px 0px 3px 0px #27a8fdfc,
    0px 0px 6px 0px #27a8fde5,
    0px 0px 8px 0px #27a8fda6,
    0px 0px 9px 0px #27a8fd40,
    0px 0px 10px 0px #27a8fd26;
}

.neonHr {
  width: 100%;
  max-width: 800px;
  margin: 32px auto;
}

.footer {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid #222;
  font-size: 0.875rem;
  color: #555;
  font-family: var(--font-display);
}
