:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #0c0011;
}

#root {
  max-width: 768px;
  margin: 0 auto;
  padding: 32px 16px 16px 16px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  margin: 0;
  padding: 0;
}
